<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <!-- The application ID from your app registration -->
    <add key="appId" value="f559e0f8-48db-4cea-b0b2-433f82af3d48" />
    <!-- If you registered your app to support only users in your organization, change the value
           of this key to your tenant ID -->
    <add key="tenantId" value="0a296376-af6d-4142-8700-2955057d5f0a"/>
    <!-- The application's client secret from your app registration. Needed for application permission access -->
    <add key="clientSecret" value="DQqh-i5ztD50~yK-G_S3huNtA5_BJUsylZ"/>


    <!-- The application ID from your app registration -->
    <add key="appIdEwsDelegate" value="eb2d6877-bcc4-4d57-840f-75632dbb0776" />
    <!-- If you registered your app to support only users in your organization, change the value
           of this key to your tenant ID -->
    <add key="tenantIdEwsDelegate" value="0a296376-af6d-4142-8700-2955057d5f0a"/>
    <!-- The application's client secret from your app registration. Needed for application permission access -->
    <add key="clientSecretEwsDelegate" value="fO1Bs5~d8wyIqMY.He68~Cp.AC4cLTLl~~"/>

    <!-- The application ID from your app registration -->
    <add key="appIdEwsLimitedApplication" value="84421070-b788-4f73-9bd9-5ea67d84686d" />
    <!-- If you registered your app to support only users in your organization, change the value
           of this key to your tenant ID -->
    <add key="tenantIdEwsLimitedApplication" value="0a296376-af6d-4142-8700-2955057d5f0a"/>
    <!-- The application's client secret from your app registration. Needed for application permission access -->
    <add key="clientSecretEwsLimitedApplication" value="nc2Xb7-AJ6tHc-_f.IQ8K3nIf-Jjvwqs7R"/>

     <!-- The application ID from your app registration -->
    <add key="appIdGraph" value="4c22c8f1-a3fc-4565-8ab9-57599933ba75" />
    <add key="tenantIdGraph" value="0a296376-af6d-4142-8700-2955057d5f0a" />
    <add key="secretIdGraph" value="7bN-H_6vO9T0Q3~NJ.yzZB59g2J27JO5ko" />

  </appSettings>
</configuration>